.col-md-5{
    position: relative;
}
.col-md-5 img{
    width: 100%;
    height: 700px;
}
.bt{
    border: 1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 5px;
}
.list{
    display: flex;
    flex-direction:  column;
    position: absolute;
    bottom: 25px;
    right: 25px;
}
.bt.active{
    background-color: orangered;
}
.offer{
    color:orangered;
}
#inputs{
    width: 30px;
    text-align: center;
}
.btnn{
    border: none;
    border-radius: 5px;
    background-color: orangered;
    color:white;
}
#bttn{
    padding: 10px 20px;
}